VITE_SUPABASE_URL="https://lpmjytrmtonydiivsgvd.supabase.co/rest/v1/"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxwbWp5dHJtdG9ueWRpaXZzZ3ZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5MjI3MzIsImV4cCI6MjA5NzQ5ODczMn0.X9C9CivgyChjzyz3WoQj5Z4hiT5D9_PbmTnVswmdY98"
